input {
  file {
    path => "/Users/phil_xlr8/downloads/data_elk/phys_data.csv"
    start_position => "beginning"
    sincedb_path => "/dev/null"
  }
}
filter {
  csv {
     separator => ","
    columns => ["CR_ID","CR_OAI_IDENTIFIERS","CR_NATIVE_ID","CR_TITLE","CR_CREATE_DATE","CR_AUTHOR_NAME","CR_PROVIDER","CR_PROVIDER_ABSTRACT","CR_OERC_URL","CR_URL","CR_SUBJECT","CR_MATERIAL_TYPE","CR_MEDIA_FORMATS","CR_LEVEL","CR_SUBLEVEL","CR_GRADE","CR_ABSTRACT","CR_KEYWORDS","CR_ED_STANDARDS","CR_ACCESSIBILITY","CR_HTTP_STATUS","CR_DOI_HANDLE"
]
  }

}
output {
   elasticsearch {
     hosts => "localhost"
     index => "nsdl"
  }
stdout {}
}
